.create-game
{
	z-index: 1;
	border: solid 1px;
    border-color: #7070a535;
    box-shadow: #7070a560 0px 5px 15px;
	align-self:flex-end;
	flex: 45%;
	display: flex;
	overflow-x: hidden;
	border-radius: 2rem;
	align-items: center;
	background: #161848dc;       
	flex-direction: column;
	justify-content: flex-start;
	color: white;
	height: 100%;
}

.create-game h1
{
	text-align: center;
}

@media only screen and (max-width: 900px) {
	.create-game {
		display: none;
	}
	
}

.button-holder-create {
	display: flex;
	background-color: #585bac;
	flex-direction: row;
}

.button-holder-browse {
	display: flex;
	background-color: #585bac;
	flex-direction: row;
}

.button-holder-create .button-create { /* Focused button */
	background-color: #7377dd;
	border-top: solid 1px black;
	border-bottom: 0px;
	border-left: solid 1px #7377dd;
	border-right: solid 1px black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 40px;
	font-size: 1.10rem;
	color: white;
}

.button-holder-browse .button-browse { /* Focused button */
	background-color: #7377dd;
	border-top: solid 1px black;
	border-bottom: 0px;
	border-right: solid 1px #7377dd;
	border-left: solid 1px black;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 40px;
	font-size: 1.10rem;
	color: white;
}

.button-holder-create .button-browse { /* Focused button */
	background-color: #585bac;
	border: 0;
	border-bottom: 1px solid black;
	height: 40px;
	color: lightgrey;
}

.button-holder-browse .button-create { /* Focused button */
	background-color: #585bac;
	border: 0;
	border-bottom: 1px solid black;
	height: 40px;
	color: lightgrey;
}

.button-holder-browse *:hover {
	opacity: 0.7;
	cursor: pointer;
}

.button-holder-create *:hover {
	opacity: 0.7;
	cursor: pointer;
}

.game-settings {
	display: flex;
	height: max-content;
	flex-direction: column;
	text-align: center;
}

.game-settings h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
}

.range-settings {
	display: flex;
	flex-direction: row;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.range {
	margin-left: 10px;
	margin-right: 10px;
}

.range:hover {
	cursor: pointer;
}

.gamemode {
	display: flex;
	flex-direction: row;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}

.gamemode input {
	height: 25px;
	min-height: 25px;
	max-height: 25px;
	width: 25px;
	min-width: 25px;
	max-width: 25px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}

.gamemode input:hover {
	cursor: pointer;
}

.buttons-create-and-reset {
	display: flex;
	flex-direction: row;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.buttons-create-and-reset button {
	font-size: 1.15rem;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	border-radius: 5px;
	background-color: #585bac;
}

.buttons-create-and-reset button:hover {
	opacity: 0.7;
	cursor: pointer;
}

.bar-create {
	height: 0;
	border: 1px solid gray;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.browse-game-button {
	width: 80%;
	height: 95px;
	min-height: 85px;
	max-height: 85px;

	margin-right: auto;
	margin-left: auto;

	display: flex;
	flex-direction: row;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;

	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.browse-game-button:hover {
	opacity: 0.7;
}

.browse-user-1 {
	justify-self: flex-start;
	flex: 1;
}

.browse-user-2 {
	justify-self: flex-end;
	flex: 1;
}

.browse-status {
	justify-self: center;
	flex: 2;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	font-size: 1.25rem;
}

.player-card-browse {
	display: flex;
	flex-direction: column;

	align-items: center;
}

.player-card-browse img {
	width: 38px;
	max-width: 38px;
	min-width: 38px;
	height: 38px;
	max-height: 38px;
	min-height: 38px;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
}

.no-game-browse {
	margin-top: 20px;
	margin-bottom: auto;

	color: #7377dd;
	font-size: 1.5rem;
	text-align: center;
}