.create-game
{
	z-index: 1;
	border: solid 1px;
    border-color: #7070a535;
    box-shadow: #7070a560 0px 5px 15px;
	align-self:flex-end;
	flex: 45%;
	display: flex;
	overflow-x: hidden;
	border-radius: 2rem;
	align-items: center;
	background: #161848dc;       
	flex-direction: column;
	justify-content: flex-start;
	color: white;
	height: 100%;
}

.create-game h1
{
	text-align: center;
}

@media only screen and (max-width: 200px) {
	.create-game {
		display: none;
	}
}