.channels
{
	display: flex;
	gap: 5px;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 200px;
	flex-shrink: 1;
    height: 100%;
    background-color: #2E2E2E;
	margin-bottom: 5%;
}

.channels * {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	margin-bottom: 0;
	width: 90%;
	font-family: 'Poppins';
}

.channels li {
	margin: 0;
	border: solid 2px red;
	z-index: 0;
}

.channels li::marker {
	width: 0;
}

.channels ul {
	position: absolute;
	margin: 0;
	width: 50%;
	border: solid 2px green;
	top: 100%;
	background-color: beige;
	overflow: visible;
}

.list-container {
	position: absolute;
	overflow: visible;
	margin: 0;
	z-index: 99999;

}

.list-container button {
	text-align: left;
	/* background-color: beige; */
	padding-left: 5px;
	height: 2rem;
	background-image: linear-gradient(45deg, #cda5d8, #9b59b6, #224483);
	border: #2E2E2E 1px solid;
	height: 3rem;
	border: 1px solid black;
}

.list-container button:hover {
	font-size: 100%;
	cursor: pointer;
}

.channels h1 {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	overflow: hidden;
	object-fit: contain;
	font-size: 35px;
	color: white;
	border: 0px;
	border-radius: 5px;
	margin-top: 5%;
}

.search_bar {
	background-color: #A09F9F;
	border: solid 0px black;
	border-radius: 10px;
	font-size: 20px;
	font-family: 'Poppins';
	padding-left: 0.5rem;
}


.lists {
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex: 5;
	flex-basis: 45%;
	flex-grow: 0;
	overflow-y: hidden;
}

.lists * {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

.lists h1 {
	font-size: 1.5rem;
	color: white;
	justify-content: left;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	flex-basis: 4rem;
	flex-shrink: 0;
	flex-grow: 1;
}

.lists-holder {
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	flex-basis: 100%;
	gap: 5px;
	height: 90%;
	scrollbar-color: #9b59b6 transparent;
}

.chat-button-wrapper {
	background-image: linear-gradient(45deg, #cda5d8, #9b59b6, #224483);
	width: 100%;
	height: 4.5rem;
	min-height: 4.5rem;
	max-height: 4.5rem;
	border-radius: 10px;
	padding: 1px;
}

.chat-button {
	display: flex;
	border: none;
	background-color: #2E2E2E;
	margin-left: 0;
	margin-right: calc(5% + 1px);
	width: 100%;
	height: calc(4.5rem - 2px);
	max-height: calc(4.5rem - 2px);
	overflow: hidden;
	border-radius: 10px;
	flex-shrink: 0;
	flex-grow: 1;
	padding: 5px;
}

.chat-button-empty {
	display: flex;
	margin-left: 0;
	margin-right: 5%;
	width: 100%;
	height: 4.5rem;
}

.chat-button:hover {
	opacity: 0.7;
	cursor: pointer;
}

.chat-button div {
	color: #cda5d8;
}

.chat-button img {
	justify-content: left;
	aspect-ratio: 1 / 1;
	flex: none;
	height: 3rem;
	width: auto;
	border-radius: 50%;
	margin-top: auto;
	margin-bottom: auto;
	/* margin-left: 0px; */
	margin-right: 5%;
	margin-left: 5%;
}

.chat-button h2 {
	color: white;
	/* pour voir les lettres qui descendent */
	overflow: hidden;
	font-size: 1.15rem;
	height: 1.5rem;
	text-align: left;
	margin-top: 0px;
}

.chat-button div {
	text-align: left;
	text-transform: none;
}

.channels-holder {
	flex-shrink: 0;
	flex-basis: 5px;
	max-height: 5px;
	margin-top: auto;
}

.group-add {
	display: flex;
	flex-direction: row;
}

.group-add h1 {
	display: flex;
	flex: 1;
}

.group-add img {
	max-width: 45px;
	max-height: 45px;
	min-width: 45px;
	min-height: 45px;
}


#messages {
	max-height: 95%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
	scrollbar-color: #9b59b6 transparent;
}

.no-messages {
	color: #cda5d8;
	text-align: center;
	font-size: 2rem;
}

.no-users {
	color: #cda5d8;
	font-size: 1.5rem;
	text-align: center;
}

.chatbox {
	display: flex;
	height: calc(100% - 64px);
    flex-grow: 3;
	flex-shrink: 1;
	flex-basis: 500px;
	background-color: #192131;
	flex-direction: column;
	justify-content: center;	
}

.group-members
{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 200px;
	gap: 5px;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
    height: calc(100% - 64px);
    background-color: #2E2E2E;
	margin-bottom: 5%;
}

.group-members * {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	margin-bottom: 0;
	width: 90%;
	font-family: 'Poppins';
}

.group-members h1 {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	overflow: hidden;
	object-fit: contain;
	font-size: 35px;
	color: white;
	border: 0px;
	border-radius: 5px;
	
	margin-top: 5%;
	margin-left: 9%;
	min-height: 2rem;

	flex-basis: 71px;
	flex-grow: 0;
	flex-shrink: 0;
}

.group-members-button-wrapper {
	background-image: linear-gradient(45deg, #cda5d8, #9b59b6, #224483);
	border-radius: 15px;
	margin-left: 5%;
	margin-right: 5%;
	height: 6.5rem;
	min-height: 6.5rem;
	padding-top: 3px;
}

.group-members-button {
	display: flex;
	flex-direction: row;
	border: none;
	width: calc(100% - 6px);
	/* height: calc(100% - 6px); */
	min-height: calc(6.5rem - 6px);
	border-radius: 14px;
	color: white;
	font-size: 0.90em;
	text-align: left;
	background-color: #2E2E2E;
	margin-left: 3px;
	margin-right: 3px;
}

.group-members-button img {
	aspect-ratio: 1/1;
	min-width: 3.5rem;
	min-height: 3.5rem;
	max-width: 3.5rem;
	max-height: 3.5rem;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5%;
	border-radius: 50%;
}

.group-member-button-link {
	color: white;
	text-decoration: none;
	font-size: 1.25rem;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;
}

.group-members-button-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
	margin: 0;
	padding-right: 5%;
}

#kick-button {
	background-color: #e0be85;
	color: black;
	border: none;
	border-radius: 5px;
}

#kick-button:hover {
	opacity: 0.7;
	cursor: pointer;
}

#mute-button {
	background-color: #c0e085;
	color: black;
	border: none;
	border-radius: 5px;
	flex: 0 0;
	flex-basis: 40%;
}

#mute-button:hover {
	opacity: 0.7;
	cursor: pointer;
}

#makeop-button {
	background-color: #73c8e2;
	color: black;
	border: none;
	border-radius: 5px;
	flex: 0 0;
	flex-basis: 40%;
}

#makeop-button:hover {
	opacity: 0.7;
	cursor: pointer;
}

#ban-button {
	background-color: #e08a85;
	color: black;
	border: none;
	border-radius: 5px;
}

#ban-button:hover {
	opacity: 0.7;
	cursor: pointer;
}

.pastille {
	display: flex;
	background-color: yellow;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	flex-grow: 0;
	flex-basis: 25px;
	flex-shrink: 0;
	margin: 0;
}

.user-holder {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
	gap: 5px;
	overflow-y: scroll;
	flex: 1;
}

.is_op {
	background-color: gold;
	color: black;
	border-radius: 5px;
}

.users-box {
	border: solid 1px black;
	border-radius: 10px;
	height: 6rem;
}

.users-box img {
	justify-content: left;
	aspect-ratio: 1 / 1;
	flex: none;
	height: 4.5rem;
	width: auto;
	border-radius: 50%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
	margin-right: 5%;
}

.users-box:hover {
	cursor: pointer;
	opacity: 0.7;
}

.bar {
	border-top: 2px solid black;
	height: 0;
	margin: 0;
	margin-top: 10px;
	width: 100%;
	flex: 0;
}

.popup-content {
	height: 70%;
	margin: auto;
	background: #2E2E2E;
	width: 50%;
	padding: 5px;
	border:#cda5d8 3px solid;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

.popup-overlay {
	background: rgba(0, 0, 0, 0.5);
}

.popup-content > h1 {
	color: white;
	text-align: center;
}

.popup-user-container {
	width: 90%;
	margin: 5px 5%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	gap: 5px;
	max-height: 80%;
}

.popup-user {
	background-color: #2E2E2E;
	border: #9b59b6 2px solid;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	display: flex;
	flex: 0 0 80px;
	align-items: center;
	padding: 0 2.5%;
}

.popup-user-dm {
	background-color: #2E2E2E;
	border: #9b59b6 2px solid;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	display: flex;
	flex: 0 0 80px;
	align-items: center;
	padding: 0 2.5%;
}

.popup-user-dm:hover {
	cursor: pointer
}

.popup-user img {
	flex: 1;
	border-radius: 50%;
	max-width: 3.5rem;
	max-height: 3.5rem;
	width: 3.5rem;
	height: 3.5rem;
	min-height: 3.5rem;
	max-height: 3.5rem;
	margin: 10px 10px;
}

.popup-user-dm img {
	flex: 1;
	border-radius: 50%;
	max-width: 3.5rem;
	max-height: 3.5rem;
	width: 3.5rem;
	height: 3.5rem;
	min-height: 3.5rem;
	max-height: 3.5rem;
	margin: 10px 10px;
}

.popup-user div {
	flex: 1;
	color: white;
	font-size: 2rem;
	margin-left: 2.5%;
}

.popup-user-dm div {
	flex: 1;
	color: white;
	font-size: 2rem;
	margin-left: 2.5%;
	text-align: left;
}

.popup-prompt {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 5px 5%;
	gap: 5px;
	align-self: flex-end;
}

.popup-prompt input {
	display: flex;
	flex: 8;
	font-size: 1.25rem;
	background-color: #A09F9F;
	color: black;
	border: none;
	border-radius: 5px;
}

.popup-prompt input:focus {
	outline: none;
}

.popup-prompt button {
	display: flex;
	flex: 2;
	font-size: 1.25rem;
	text-align: center;
	background-color: #cda5d8;
	color: black;
	border: none;
	width: 100%;
	border-radius: 5px;
}

.ban-message {
	color:#2E2E2E;
	font-style: italic;
	text-transform: lowercase;
	background-color: #e08a85;
	height: 1.5rem;
	min-height: 1.5rem;
	width: 100%;
	text-align: center;
	border-bottom: #2E2E2E solid 1px;
}

.kick-message {
	color:#2E2E2E;
	font-style: italic;
	text-transform: lowercase;
	background-color: #e0be85;
	height: 1.5rem;
	min-height: 1.5rem;
	width: 100%;
	text-align: center;
	border-bottom: #2E2E2E solid 1px;
}

.mute-message {
	color:#2E2E2E;
	font-style: italic;
	text-transform: lowercase;
	background-color: #c0e085;
	height: 1.5rem;
	min-height: 1.5rem;
	width: 100%;
	text-align: center;
	border-bottom: #2E2E2E solid 1px;
}

.invite-message {
	border: 0.1em solid transparent;
	color: white;
	border-image: linear-gradient(45deg, #45294d, #9b59b6, #224483);
	border-image-slice: 1;
	width: 100%;
	width:fit-content;
	position: relative;
	margin: 0 5px;
	padding: 16px 40px 16px 20px;
	border-radius: 2rem;
	word-wrap: break-word;
}

.message-body-link
{
	border: 0.1em solid transparent;
	color: white;
	border-image: linear-gradient(45deg, #45294d, #9b59b6, #224483);
	border-image-slice: 1;
	width: 100%;
	width:fit-content;
	position: relative;
	margin: 0 5px;
	padding: 16px 40px 16px 20px;
	border-radius: 2rem;
	word-wrap: break-word;
}

.message-body-link div
{
	background-color: #cda5d8;
	color: black;
	border-radius: 5px;
	width: 90%;
	text-align: center;
	margin-left: 5%;
}

.message-body-link:link {
	text-decoration: none;
}

.hover-cursor:hover {
	cursor: pointer;
}

.private-setter {
	flex: 2;
	color: black;
	padding-left: 7px;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	background-color: #cda5d8;
	text-align: center;
	font-size: 1.25rem;
}

.channel-header {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	text-align: center;
	font-size: 2rem;
	min-height: 48px;
	flex: 0 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.leave-button {
	background-color: #e08a85;
	color: black;
	height: 65%;
	border: 0px;
	border-radius: 5px;
	width: 60px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 1.10rem;
	text-align: center;
	margin-right: 10px;
}

.leave-button:hover {
	cursor: pointer;
	opacity: 0.7;
}

.invite-button {
	background-color: #73c8e2;
	color: black;
	height: 65%;
	border: 0px;
	border-radius: 5px;
	width: 60px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 1.10rem;
	text-align: center;
	margin-left: 10px;
}

.invite-button:hover {
	cursor: pointer;
	opacity: 0.7;
}

.input-password {
	border-radius: 3px;
	margin-top: 5px;
}

.change-password-holder {
	flex-grow: 0;
	flex-basis: 80px;
	flex-shrink: 0;
}

.pastille-ok {
	background-color: #c0e085;
	color: black;
	border: 0px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	min-width: 25px;
	min-height: 25px;
	max-width: 25px;
	max-height: 25px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.pastille-clear {
	background-color: #e08a85;
	color: black;
	border: 0px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	min-width: 25px;
	min-height: 25px;
	max-width: 25px;
	max-height: 25px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.pastille-ok:hover {
	opacity: 0.7;
	cursor: pointer;
}

.pastille-clear:hover {
	opacity: 0.7;
	cursor: pointer;
}

.join-channel-button {
	background-color: #c0e085;
	border: 0px;
	border-radius: 3px;
	width: 35px;
	flex: 0 0 35px;
	color: black;
	height: 1.5rem;
	margin-top: auto;
	margin-bottom: auto;
}

.join-channel-password {
	background-color: #2E2E2E;
	border: #9b59b6 2px solid;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	display: flex;
	flex: 0 0 80px;
	align-items: center;
	padding: 0 2.5%;
	color: white;
}

.join-channel-normal {
	background-color: #2E2E2E;
	border: #9b59b6 2px solid;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	display: flex;
	flex: 0 0 80px;
	align-items: center;
	padding: 0 2.5%;
	color: white;
}

.join-channel-normal:hover {
	opacity: 0.7;
	cursor: pointer;
}

.join-channel-password:hover {
	opacity: 0.7;
	cursor: pointer;
}


.password-indicator {
	color: lightgrey;
	width: auto;
	flex: 0 0 auto;
}