@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.stats-page
{
	display: flex;
	height: 95vh;
	flex-direction: row;
	background-color: #18194B;
}

.side-nav
{
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
	background-color: aquamarine;
}

.stats
{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	background-color: #192131;
}

.profile-header
{
	flex-basis: 25%;
	background-image: url('../../media/tron_bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: visible;
	position: relative;
	width: 95%;
	margin: 30px;
	border-radius: 1em;
	background-color: bisque;
}

.profile-sub-header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 97vw;
	left: -10px;
	border-radius: 1em;
	height: 10vh;
	background-color: #161848ec;
	position: absolute;
	overflow: visible!important;
	bottom: 0;
	border: solid 1px;
	border-color: #7070a535;
	box-shadow: #7070a560 0px 5px 15px;
}



.avatar-stats
{
	opacity: unset;
	overflow: visible;
	text-transform: uppercase;
	display: flex;
	position: absolute;
	left: 45%;
	flex-direction: column;
	width:10vw;
	min-width: 70px;
	bottom: 0vh;
}
.profile-sub-header img{
	
	border-radius: 50%;
	flex-basis: 10%;
	z-index: 2;
}

.ftlogo {
	flex-basis: 30%;
	display: flex;
	overflow: visible;
	flex-shrink: 4;
	cursor: pointer;
	border-radius: 50%;
	margin-right: 3vh;
	z-index: 2;
}

.ftlogo:hover{
	transform: scale(1.1);
}

.user-name
{
	color: white;
	overflow: visible!important;
	font-weight: 900;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.profile-game-stats
{
	display: flex;
	font-size: calc(.5em + 1vw);
	padding: 2vw;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	color: white;
		font-weight: 700;
		width: 50%;

}

.profile-game-stats li
{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}

.profile-game-stats span {
	font-size: .75em;
	color: white;
	overflow: visible;
}

.span-title {
	color: #7070a5!important;
}

.sub-stats
{
	display: flex;
	flex-direction: row;
	margin-bottom: 2vh;
	flex-basis: 65%;
}

@media only screen and (max-width: 1000px)
{
	.sub-stats{
		flex-direction: column;
		display: inline-block;
		overflow:scroll;
	}

	.ftlogo
	{
		display: none;
	}

	.info-card{
		min-height: 200px;
	}

}

.info-card
{
	display: flex;
	height:90%;
	align-items: center;
	border: solid 1px;
	border-color: #7070a535;
	box-shadow: #7070a560 0px 5px 15px;
	color: white;
	border-radius: 1em;
	flex-direction: column;
	background-color: #161848c5;;
	flex-basis: 30%;
	margin: 2vh;
}

.info-card header{
	display: flex;
	z-index: 1;
	overflow: visible;
	border-bottom: solid 1px;
	border-color: #7070a535;
	box-shadow: #7070a560 0px 0px 9px;
	align-items: center;
	background-color: #161848c5;
	border-radius: 1em;
	padding: 1vh;
}

.info-card h1
{
	font-size: 2vw;
	padding: 1vh;
	text-align: center;
	text-transform: uppercase;
}

.drop-down
{
	display: flex;
	position: relative;
	overflow: visible;
	cursor: pointer;
	flex-basis: 60%;
	align-items: center;
	height:100%;
}

.drop-down:hover
{
	background: transparent;
	color: #9b59b6;
}

.right-options
{
	display: flex;
	align-items: center;
	overflow: visible;
	justify-content: flex-end;
	margin-right: 3vh;
	flex-basis: 20%;
}

.options-list
{
	display: flex;
	overflow: visible!important;
	font-size: calc(.25em + 1vw);
	overflow: visible;
	z-index: 3;
	height: 25vh;
	width: 20vw;
	color: white;
	border-radius: 1em;
	background-color: rgba(17, 11, 49, 0.897);
	padding: 0;
	text-align: center;
	flex-direction: column;
	list-style: none;
	position: absolute;
	top: 5vh;
	right: 5vw;
	border: solid 1px;
	border-color: #7070a535;
	box-shadow: #7070a560 0px 5px 15px;
}

.options-list-item
{
	cursor: pointer;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex:30%;
	width: 100%;
	margin: 0.5em 0;
	border-radius: inherit;
}

.options-list-item:hover {
	background: transparent;
	border: solid;
	border-color: linear-gradient(45deg, #45294d, #9b59b6, #224483);
	color: #9b59b6;
}

.info-body
{
	display: flex;
	position: relative;
	overflow: visible;
	flex-direction: column;
	padding: 1.2vh;
	border-radius: 1em;
	flex-basis: 85%;
	height: 100%;
	width: 95%;
	overflow-y: scroll;
	gap: 10px
}

.ach-description {
	height: 30px;
	font-size: .8em
}

.info-item
{
	background-color: transparent;
	border: solid 1px;
	border-color: #7070a535;
	box-shadow: #7070a560 0px 5px 15px;
	max-height: 9vh;
	align-items:center ;
	overflow: visible;
	padding: .6vh;
	border-radius: 1em;
	flex-basis: 15%;
	display: flex;
	flex-direction: row;
}

.stats-avatar
{
	position: relative;
	height: 45px;
	width: 45px;
	display: flex;
	flex: 0 0 45px;
	margin-left: 3%;
	margin-right: 3%;
}

.game-username
{
	margin: .5vh;
	font-size: .8em;
	align-self: center;
	flex-basis: 25%;
	flex-shrink: 0;
}

.game-score
{
	display: flex;
	overflow: visible;
	letter-spacing: .5em;
	font-size: 1em;
	flex-wrap: nowrap;
	white-space: nowrap;
	margin-right: 3%;
	margin-left: auto;
	font-weight:800;
	text-align: center;
	flex-basis: 25%;
}

.win {
	box-shadow: #31A776 0px 30px 60px -12px inset;
}

.lose {
	box-shadow: #b93030 0px 30px 60px -12px inset;
}

.ranking
{
	flex-basis: 10%;
	font-weight: 800;
}

.rank-username
{
	flex-basis: 35%;
	margin-left: 3vh;
}

.friends-avatar
{
	border-radius: 50%;
	height: 100%;
	width: 100%;
	display: flex;
	flex-basis: 15%;
}

.friends-options
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-items: flex-end;
	flex-basis: 35%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: 3%;
	align-items: center;
}

.search-bar
{
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-basis: 15%;
	color: white;
	background-color: transparent;
	border-radius: 1em;
	border: solid 1px;
	border-color: #7070a535;
	box-shadow: #7070a560 0px 5px 15px;
}
	
	.search-bar input{
		background-color: transparent;
		outline: none;
		flex-basis: 85%;
		color: white;
		border: none;
		padding:2px;
		height: 100%;
		width: 100%;
	}

	.search-bar svg{
		flex-basis: 15%;
	}

.friend-profile:link {
	text-decoration: none;
	color:inherit;
}

.achievement-title {
	font-size: 1.25rem;
	text-align: center;
}

.achievement-container {
	display: flex;
	flex-direction: column;
}

.achievement-info {
	display: flex;
	flex-direction: row;
	
}

/* Messes with the chat popup*/
/* .popup-content {
	margin: auto;
	background: rgb(255, 255, 255);
	width: 50%;
	padding: 5px;
	height: 15vh;
  } */

  .TwoFactorPopUp
  {
	display: flex;
	color: white;
	background-color: rgb(17, 11, 49);
	max-width: 450px;
	position: fixed;
	align-items: center;
	flex-direction: column;
	border: solid 1px white;
	border-radius: 1em;
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	justify-content: space-between;
	top: 20%;
	left: 30%;;
	width: 50vw;
  }

  .SmallPopUp
  {
	display: flex;
	border: solid 1px white;
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	color: white;
	background-color: rgb(17, 11, 49);
	align-items: center;
	position: fixed;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 1em;
	right: 25%;
	top: 40%;
	height: 30vh;
	border: solid 1px;
		border-color: #7070a535;
		box-shadow: #7070a560 0px 5px 15px 9999px;
	width: 35vw;
  }

  .SmallPopUp input 
  {
	flex: 10%;
	width: 80%;
	border: solid 1px rgba(255, 255, 255, 0.288);
	color: white;
	background-color: rgba(255, 255, 255, 0.062);
	border-radius: 1em;
  }

  .qr-input
  {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: visible;
	width: 85%;
	max-width: 360px;
	column-gap: 10px;
  }

  .popup-header
  {
	flex: 10%;
	font-size: calc(1em + 1.2vw);
	border-bottom: solid 1px white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1vw;
  }

  .popup-input
  {
	flex: 20%;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
  }


  .QRcode {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1vh;
	flex:50%;
	border-radius: 0!important;
	overflow: visible!important;
	height: 200px;
	width:200px;
	border:1px solid #000000;
  }

  .QRcode img{
	border-radius: 0!important;
  }

  .instructions {
	display: flex;
	flex-direction: column;
	overflow: visible;
	margin-bottom: 1vw;
	margin-top: 1vw;
		align-items: center;
		justify-content: space-around;
	flex: 20%;

  }

  .pop-up-title
  {
	color: white;
	text-align: center;
	font-weight: 800;
	color: #9b59b6;
  }

  .instructions li{
	text-align: center;
	font-size: 1em;
	line-break: auto;
	list-style: decimal;
  }

  .buttons
  {
	flex: 30%;
	min-height: 5vh;
	display: flex;
	padding: 1vw;
	margin: 1vw;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.submit-popup
{
	display: flex;
	margin: .5em;
	font-size: 1.7vw;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
	height: 5vh;
	width: 12vw;
	color: white;
	background-color: #881DAB;
	border: solid 1px white;
}

.submit-popup:hover
{
	background-color: transparent;
	cursor: pointer;
	border: solid 1px #881DAB;
	color: white;
	transform: scale(1.05);
}

.cancel-popup
{
	display: flex;
	overflow: visible;
	cursor: pointer;
	font-size: 1.7vw;
	border: solid 1px;
		border-color: #7070a535;
		box-shadow: #7070a560 0px 5px 15px;
	justify-content: center;
	align-items: center;
	width: 12vw;
	border-radius: 1em;
	height: 5vh;
	background-color: transparent;
	color: white;
	border: solid 1px white;

}

.cancel-popup:hover
{
	transform: scale(1.05);
	border: solid 1px #881DAB;
	
}

.otp-input{
	width: 100%;
	max-height: 8vh;
	border: 1px solid #ccc;
	border-radius: .1em;
	margin: .1em;
	text-align: center;
	font-size: calc(2em + 1vw);
	font-weight: bold;
	line-height: 1;
}

.friends-option-bar{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	border-bottom: solid 1px;
		border-color: #7070a535;
		box-shadow: #7070a560 0px 0px 9px;
		border-radius: 1em;
	align-items: center;
	height:20%;
}

.friends-toggle-button{
	display: flex;
	align-items: center;
	flex-basis: 20%;
	cursor: pointer;
	height: 80%;
	border-radius: 1em;
	border: #9b59b6 1px solid;
	color: white;
	background: none;
}

.friends-toggle-button svg{
	height:50%;
}

.friends-toggle-button svg:hover {
	transform:scale(1.1);
}

.error-bar{
	display: flex;
	align-items: center;
	justify-content: center;
	height:4vh;
	background-color: salmon;
	color: rgb(247, 57, 36);
	font-size: .5em;

}

.online {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #5CFF5C;
	border: 1px solid white;
	right: 0;
	
}

.img-container {
	position: relative;
	border-radius: 50%;
}

.rating_up {
	flex-basis: 10%;
	color: #5CFF5C;

}

.rating_down {
	flex-basis: 10%;
	color: rgb(255, 98, 98);
}