.channels
{
	display: flex;
	gap: 5px;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 200px;
	flex-shrink: 1;
    height: 100%;
    background-color: #2E2E2E;
	margin-bottom: 5%;
}

.channels * {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	margin-bottom: 0;
	width: 90%;
	font-family: 'Poppins';
}

.channels li {
	margin: 0;
	border: solid 2px red;
	z-index: 0;
}

.channels li::marker {
	width: 0;
}

.channels ul {
	position: absolute;
	margin: 0;
	width: 50%;
	border: solid 2px green;
	top: 100%;
	background-color: beige;
	overflow: visible;
}

.list-container {
	position: absolute;
	overflow: visible;
	margin: 0;
	z-index: 99999;

}

.list-container button {
	text-align: left;
	/* background-color: beige; */
	padding-left: 5px;
	height: 2rem;
	background-image: linear-gradient(45deg, #cda5d8, #9b59b6, #224483);
	border: #2E2E2E 1px solid;
	height: 3rem;
	border: 1px solid black;
}

.list-container button:hover {
	font-size: 100%;
	cursor: pointer;
}

.channels h1 {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	overflow: hidden;
	object-fit: contain;
	font-size: 35px;
	color: white;
	border: 0px;
	border-radius: 5px;
	margin-top: 5%;
}

.search_bar {
	background-color: #A09F9F;
	border: solid 0px black;
	border-radius: 10px;
	font-size: 20px;
	font-family: 'Poppins';
	padding-left: 0.5rem;
}


.lists {
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex: 1;
	flex-basis: 25rem;
	flex-grow: 0;
	max-height: 45%;
}

.lists * {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}

.lists h1 {
	font-size: 1.5rem;
	color: white;
	justify-content: left;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	flex-basis: 4rem;
	flex-shrink: 0;
}

.lists-holder {
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	flex-basis: 19rem;
	gap: 5px;
}

.chat-button {
	display: flex;
	border: #A09F9F 1px solid;
	background-color: #2E2E2E;
	margin-left: 0;
	margin-right: 5%;
	width: 100%;
	height: 4.5rem;
	max-height: 5rem;
	overflow: hidden;
	border-radius: 10px;
	flex-shrink: 0;
	flex-grow: 1;
	padding: 5px;
}

.chat-button-empty {
	display: flex;
	margin-left: 0;
	margin-right: 5%;
	width: 100%;
	height: 4.5rem;
}

.chat-button:hover {
	opacity: 0.7;
	cursor: pointer;
}

.chat-button img {
	justify-content: left;
	aspect-ratio: 1 / 1;
	flex: none;
	height: 3rem;
	width: auto;
	border-radius: 50%;
	margin-top: auto;
	margin-bottom: auto;
	/* margin-left: 0px; */
	margin-right: 5%;
}

.chat-button h2 {
	color: #A09F9F;
	/* pour voir les lettres qui descendent */
	overflow: hidden;
	font-size: 1.15rem;
	height: 1.5rem;
	text-align: left;
	margin-top: 0px;
}

.chat-button div {
	text-align: left;
	text-transform: none;
}

.channels-holder {
	flex-shrink: 0;
	flex-basis: 5px;
	max-height: 5px;
	margin-top: auto;
}


#messages
{
	display: flex;
	flex-direction: column;
	margin: 1em;

}
.chatbox {
	display: flex;
    flex-grow: 3;
	flex-shrink: 1;
	flex-basis: 500px;
	background-color: #181d1b;
}

.group-members
{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 200px;
	gap: 5px;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
    height: 100%;
    background-color: #2E2E2E;
	margin-bottom: 5%;
}

.group-members * {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	margin-bottom: 0;
	width: 90%;
	font-family: 'Poppins';
}

.group-members h1 {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	overflow: hidden;
	object-fit: contain;
	font-size: 35px;
	color: white;
	border: 0px;
	border-radius: 5px;
	
	margin-top: 5%;
	margin-left: 9%;
	min-height: 2rem;
}

.group-members-button {
	display: flex;
	flex-direction: row;
	margin-left: 5%;
	margin-right: 5%;
	border: 3px solid #1976d2;
	min-height: 6.5rem;
	border-radius: 10px;
	color: white;
	font-size: 0.90em;
	text-align: left;
}

.group-members-button img {
	aspect-ratio: 1/1;
	min-width: 3.5rem;
	min-height: 3.5rem;
	max-width: 3.5rem;
	max-height: 3.5rem;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5%;
	border-radius: 50%;
}

.group-member-button-link {
	color: white;
	text-decoration: none;
	font-size: 1.25rem;
}

.group-members-button-text {
	display: flex;
	flex-direction: column;
	margin: 5% 0;
	gap: 5px;
}

.user-holder {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
	gap: 5px;
	overflow-y: scroll;
}

.is_op {
	background-color: gold;
	color: black;
	border-radius: 5px;
}

.users-box {
	border: solid 1px black;
	border-radius: 10px;
	height: 6rem;
}

.users-box img {
	justify-content: left;
	aspect-ratio: 1 / 1;
	flex: none;
	height: 4.5rem;
	width: auto;
	border-radius: 50%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
	margin-right: 5%;
}

.users-box:hover {
	cursor: pointer;
	opacity: 0.7;
}

.bar {
	border-top: 2px solid black;
	height: 0;
	margin: 0;
	margin-top: 10px;
	width: 100%;
	flex: 0;
}