.channels
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 200px;
	flex-shrink: 1;
    height: 100%;
    background-color: #2E2E2E;
}

.channels h1 {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	object-fit: contain;
	font-size: 35px;
	background-color: lightslategrey;
	color: white;
	width: 90%;
	border: 0px;
	border-radius: 5px;
}

.chatbox {
    display: flex;
    flex-grow: 3;
	flex-shrink: 1;
	flex-basis: 500px;
    background-color: blue;
}

.group-members
{
    display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 200px;
    background-color: aquamarine;
}