@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    
    .dashboard
    {
        height: 100vh;
        overflow: hidden;
        width: 100%;
          /* scroll thumb and track */ 
    }
    
    
    .body {
        background-color: #181d1b;
        z-index: -1;
        inset: 0;
        place-content: center;
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
       
    }
  
    .app
    {
        position: relative;
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
        border-radius: 14px;
    }
    .nav-bar {

        background: rgba(0, 0, 0, .5);
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        font-size: 2em;
        border-radius: 0em 0em .2em .2em;
        z-index: 2;
        flex-shrink: 0;
        white-space: nowrap;
        display: flex;
        background-color: #181d1b;
        color: white;
        align-items: center;
        flex-direction: row;
        text-align: center;
        flex-wrap: nowrap;
        padding: 2rem 0;
        height: 10%;
        width:100%;
    }

    .nav-list {
        display: flex;
        font-size: 1em;
        font-weight: 400;
        flex: 60%;
        padding: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        list-style: none;
    }

    .nav-list-visible
    {
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
        list-style: none;
        flex-direction: column;
        font-size: 1.5em;
    }



    .navlink {
        cursor: pointer;
        justify-self: center;
        margin: 0 2em;
        letter-spacing: 0.2em;
        width: 100%;
        cursor: pointer;
        list-style: none;
        text-decoration: none;
        color: white;
        margin-top: 1.5rem;
        font-size: .55em;
        font-weight: 800;
        border-radius: 1em;
    }

    .navlink:hover
    {

        background-clip: text;
        cursor: pointer;
        color: transparent;
        filter:brightness(1.2);
        background-image: linear-gradient(45deg, #cda5d8, #9b59b6, #224483);
        transform: scale(1.02);
        text-decoration: underline;
    }


    .nav-btn
    {
        width: 6em;
        align-self: center;
        padding: 5px;
        cursor: pointer;
        align-self: flex-end;
        background-color: transparent;
        color: white;
        border: none;
        display: none;
    }

    header{
        display: flex;
        align-items: center!important;
        justify-content: space-between!important;
        height: 4em;
        width: 100%;
    }

   
    @media only screen and (max-width: 1200px) {
        .nav-list {
            display: none;
        }
        .nav-user 
        {
            display: none!important;
        }
        .nav-logo {
            display: none!important;
            flex:none!important
        }
        .nav-btn
        {
            display: flex;
            margin-left: auto;
            padding: 5px;
            cursor: pointer;
            align-self: flex-end;
            background-color: transparent;
            color: white;
            border: none;
        }
        .nav-bar
        {
            position: fixed;
            left: 0;
            top: -100vh;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.5;
            transition: 1s;
        }
        .responsive_nav
        {
            height: 100%;
            transform: translateY(100vh);
        }

        .nav-close-btn
        {
            position: absolute;
            top: 2em;
            right: 2em;
        }
       
    }


    .user-pfp {
       
        width: 3rem;
        object-fit: cover;
        border: 6px solid rgba(255, 255, 255, 0.1);
        box-shadow: #9b59b6 0px 2px 8px 0px;
        border: 2px solid rgba(255, 255, 255, 0.24);
        align-self: center;
        height: 3rem;
        justify-self: flex-end;
        border-radius: 30px;
    }

    .userName {
        text-align: end;
        left: 1rem;
        margin: .5em;
        padding: .5em;
        flex:1;
        align-self: flex-end;
        justify-self: flex-end;
        font-size: .5em;
        color:white; 
    }

    .nav-user {
        flex: 30%;
        display: flex;
        margin: 1em;
        cursor: pointer;
        flex-direction: row-reverse;
        align-items: center;
        justify-self: flex-end;
        flex-wrap: wrap;
    }
    .nav-logo {
        flex: 30% 1;
        align-self: center;
        justify-self: flex-start;
        margin-top: 2vh;
        display: flex;
        justify-content: flex-start;
        float: left;
        height: 10vh;
        width: 20vh;
    }
    

    .page-wrapper
    {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding : 0 !important;
        flex-grow: 1;
        overflow: hidden;
        background-color: #181d1b;
        font-family: 'Poppins', sans-serif;
        background-color: transparent;
        flex-direction: row;
    }

    .game {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .game-screen
    {
        position: relative;
        background-color: #181d1b;
        align-self:flex-start;
        justify-self:flex-end;
        display: flex;
        height: 100%;
        flex-direction: row;
        object-fit: fill;
    }

    .game-button 
    {
        position: absolute;
        cursor: pointer;
        top: 40%;
        left:  40%;
        align-self: center;
        justify-self: center;
        width: 10vw;
        height: 7vh;
        border-radius: 1em;
        border: solid;
        color: white;
        font-family: 'arcade_normalregular', cursive;
        background-color: transparent;
        border: 5px solid ;
        border-image: linear-gradient(45deg, #45294d, #9b59b6, #224483);
        border-image-slice: 1;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);

    }

    .game-button:hover
    {
        transform: scale(1.1);
    }

    .player-vs
    {
        display: flex;
        justify-self: flex-start;
        align-items: center;
        background-color: #181d1b;
        flex: 10%;
        margin: auto;
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
        flex-direction: row;
        justify-content: space-between;
    }

    .score {
        display: flex;
        font-size: 2em;
        color: white;
        align-items: center;
        justify-content: center;
        font-family: 'arcade_normalregular', cursive;

    }

       

    .avatar 
    {
        position: relative;
        border: 6px solid rgba(255, 255, 255, 0.1);
        box-sizing: content-box;
        
        box-shadow: #9b59b6 0px 2px 8px 0px;

        height: 6vh;
        width: 6vh;
        margin: 0 2rem 1em 1em ;
        border-radius: 30em;  
    }

    .avatar::before
    {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #45294d, #9b59b6, #224483);
    }

    .player 
    {
        display: flex;
        flex: 50%;
        margin: 1em;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .player-info
    {
        flex: 50%;
        font-weight: 800;
        display: flex;
        color: white;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
    }

    .player-level
    {
        background-image: linear-gradient(45deg, #d7badf, #9b59b6, #224483);
        background-clip: text;
        color: transparent;
        font-size: 1rem;

    }

    .player-name
    {
        font-size: 1rem;
        text-transform: uppercase;
    }



    .live-chat
    {
        z-index: 1;
        align-self:flex-end;
        flex: 30%;
        height: 70%;
        display: flex;
        overflow-x: hidden;
        border-radius: 2rem;
        width: 20vw;
        align-items: center;
        background: #232526;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526);
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        margin-bottom: 2em;
        
    }

        @media only screen and (max-width: 1200px) {
            .live-chat {
                display: none;
            }
        }

    .chat-title
    {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background: #232526;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #414345, #232526);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #414345, #232526);
        flex-basis: 2vh;
        padding-bottom: 1.5rem;
        width: 100%;
        margin: 1rem;
        font-size: 1.5rem;
        color: white;
    }

    .chat-box
    {
        color: white;
        border-radius: 1em 1em 0 0;
        flex: 80%;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526);
        height: 60vh;
        width: 100%;
        background: rgba(0, 0, 0, .5);
        box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
        overflow-y: scroll;
        background-size: cover;
        justify-content: space-between;
        
    }

    .message-receiver
    {

        background-color: transparent;
        border: 5px solid transparent;
        border-image: linear-gradient(45deg, #e74c3c, #9b59b6, #1abc9c);
        border-image-slice: 1;
        max-width: 70%;
        position: relative;
        width:fit-content;
        clear: both;
        display: inline-block;
        margin: .5em 1.5em 1.5em .5em;
        padding: 16px 40px 16px 20px;
        border-radius: 10px;

    }

    .message-wrapper
    {
        display: flex;
        margin: 1rem;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-;
		width: 95%;
		min-height: 6rem;
		flex-grow: 0;
		flex-basis: 6rem;
    }

    .message-wrapper-receiver
    {
        display: flex;
        margin: 1rem;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .message
    {
        display: flex;
        flex-direction: row;
        /* flex-wrap: nowrap; */
        align-items: flex-end;
        justify-content: space-around;
        justify-content: flex-end;
		flex: 0;
		width: 90%;
		margin-top: auto;
		/* max-height: 90%; */
		overflow-y: scroll;
		flex-shrink: 0;
    }

    .message-wrapper-receiver .message-header
    {
        flex-direction: row-reverse;
        align-self: flex-end;
        width: 100%;
        justify-self: flex-end;

    }
    .message-header
    {
        display: flex;
       font-size: 1rem;

    }

    /* .sender .message-avatar{
		display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    } */

	.message-header span {
		color: white;
		text-align: center;
	}

    .message-avatar
    {
		display: flex;
		flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-items: center;
        flex: 1;
		flex-basis: 5rem;
		flex-grow: 0;
		flex-shrink: 0;
        margin: 0;
        height: 100%;
		aspect-ratio: 1 / 1;
		max-height: 4.5rem;
    }

    .message-body
    {
        border: 0.1em solid transparent;
        color: white;
        border-image: linear-gradient(45deg, #45294d, #9b59b6, #224483);
        border-image-slice: 1;
        width: 100%;
        width:fit-content;
        position: relative;
        margin: 0 5px;
        padding: 16px 40px 16px 20px;
        border-radius: 2rem;
		word-wrap: break-word;
    }

    /* .sender .message-body
    {
        background-color: transparent;
    } */

	.sender {
		flex-direction: row-reverse;
	}

    .message-box {
     
        width: 100%;
        margin-top: auto;
		margin-bottom: 0;
        justify-content: space-between;
        flex: 0;
		flex-shrink: 0;
		flex-basis: 45px;
        background: #232526;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526);
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        align-items: center;
        flex: 0 0 60px;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        padding: 5px 2.5%;
        position: relative;
		min-height: 45px;
    }

    .message-input {
        height: 45px;
        margin-right: 4em;
        flex: 30%;
        border-radius: 1em;
        background-color: #181d1b;
        border: none;
        outline: none!important;
        resize: none;
        color: rgba(255, 255, 255, .7);
        font-size: 1em;
        margin: 0;
        padding-right: 20px;
        width: 14vw;
      }

    .button-submit{
        justify-self:flex-end;
        height: auto;
        width: auto;        
        align-self: center;
        z-index: 1;
        top: 9px;
        right: 10px;
        color: #fff;
        border: none;
        background: linear-gradient(45deg, #45294d, #9b59b6, #224483);
        font-size: 1rem;
        line-height: 1;
        padding: 6px 10px; 
        border-radius: 1em;
        outline: none!important;
    }

    .button-submit:hover
    {
        background: transparent;
        border: solid;
        border-color: linear-gradient(45deg, #45294d, #9b59b6, #224483);
        color: #9b59b6;
    }

    .button-submit button:hover
    {
        background: transparent;
        color: #9b59b6;
    }

    .button-submit button
    {
        background: inherit;
        font-size: 1rem;
        color: inherit;
        outline: none!important;
        border-radius: 1em;
        border: none;
        text-transform: uppercase;

    }




